@use "../../App.scss" as *;
.seach_nav_container {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  color: #fff;
  gap: 10px;
  @include breack_down(large) {
    justify-content: center;
    padding: 1rem 0;
  }
  .search_nav_input_container {
    position: relative;
    width: 35%;
    img {
      position: absolute;
      top: 50%;
      right: 0;
      translate: -100% -50%;
      width: 20px;
      height: 20px;
      cursor: pointer;
      @include breack_down(large) {
        width: 14px;
        height: 14px;
      }
    }
    input {
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: #d5d5e2;
      background-color: transparent;
      border: 1px solid #505050;
      border-radius: 44px;
      padding: 12px 16px;
      color: #d5d5e2;
      @include breack_down(large) {
        padding: 8px;
        font-size: 16px;
      }
      &::placeholder {
        color: #d5d5e2;
      }
    }
  }
  .search_nav_arrow {
    select {
      padding: 12px 16px;
      font-size: 18px;
      border-radius: 20px;
      background: transparent;
      color: #d5d5e2;
      @include breack_down(large) {
        padding: 7px;
        font-size: 16px;
      }
    }
  }
  .search_nav_arrow_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    border-radius: 44px;
    padding: 12px 16px;
    color: #d5d5e2;
    @include breack_down(large) {
      padding: 8px;
      font-size: 16px;
    }
  }
  @include breack_down(large) {
    font-size: 16px;
  }
}
