@use "../../../App.scss" as *;
.creator_container {
  background-color: #000;
  padding: 32px 24px;
  @include breack_down(large) {
    padding: 0;
  }
  .creator_hero {
    height: 60vh;
    background-image: linear-gradient(to bottom, #10101099, #10101099),
      url("../../../assets/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 48px;
    position: relative;
    @include breack_down(large) {
      padding: 0;
      height: 50vh;
    }
    .edit_creator_icon {
      width: 56px;
      height: 56px;
      position: absolute;
      top: 48px;
      right: 48px;
      cursor: pointer;
      @include breack_down(large) {
        width: 30px;
        height: 30px;
        top: 20px;
        right: 20px;
      }
    }
  }
  .creator_profile {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    top: -100px;
    margin-bottom: -12px;
    @include breack_down(large) {
      top: -35px;
      padding: 0 5px;
    }
    .edit_creator_btn {
      display: flex;
      align-items: center;
      height: fit-content;
      gap: 8px;
      padding: 8px 16px;
      background-color: #404040;
      border: none;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      @include breack_down(large) {
        padding: 4px 8px;
        width: 33%;
        font-size: 12px;
        justify-content: center;
        height: 1.5rem;
      }
      img {
        @include breack_down(large) {
          height: 16px;
        }
      }
    }
    .creator_img_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      @include breack_down(large) {
        width: 33%;
        gap: 8px;
      }
      h2 {
        font-size: 48px;
        font-weight: 700;
        color: #fff;
        @include breack_down(large) {
          font-size: 20px;
          text-align: center;
        }
      }
      p {
        font-size: 36px;
        color: #c0c0c0;
        @include breack_down(large) {
          font-size: 16px;
        }
      }
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        outline: 1px solid #15b79e;
        @include breack_down(large) {
          width: 70px;
          height: 70px;
        }
      }
    }
    .creator_btns {
      display: flex;
      gap: 24px;
      @include breack_down(large) {
        // gap: 12px;
        justify-content: space-between;
        gap: 0;
        width: 33%;
      }
      button {
        padding: 8px 16px;
        color: #fff;
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include breack_down(large) {
          padding: 4px 8px;
          font-size: 12px;
          height: 1.5rem;
        }
        p {
          @include breack_down(large) {
            font-size: 12px;
          }
        }
        img {
          @include breack_down(large) {
            height: 16px;
          }
        }
        span {
          height: 24px;
        }
      }
      .c_dots_btn {
        background-color: #808080;
      }
      .c_btn {
        background-color: #15b79e;
      }
    }
  }
  .creator_nav_container {
    display: flex;
    justify-content: center;
    color: #fff;
    position: relative;
    a {
      color: #fff;
      text-decoration: none;
    }
    .creator_nav_link {
      padding: 32px 48px;
      position: relative;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        transition: 0.5s;
        &::after {
          transition: 0.5s;
          background-color: #15b79e;
        }
      }
      @include breack_down(large) {
        padding: 24px 24px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #505050;
        bottom: 0;
        left: 0;
      }
    }
    .cn_link_active {
      &::after {
        background-color: #15b79e;
      }
    }
  }
}
