@use "../../App.scss" as *;
nav {
  position: fixed;
  width: 100%;
  background-color: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
  z-index: 10;
}
.nav_logo {
  font-size: 20px;
}
.nav_links {
  display: flex;
  gap: 1rem;
  @include breack_down(large) {
    display: none;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .active_nav {
    color: #ee4723;
  }
}
.nav_apply_btn {
  display: flex;
  gap: 10px;
  background-color: #505050;
  align-items: center;
  height: fit-content;
  border-radius: 40px;
  padding: 8px 16px;
  cursor: pointer;
  @include breack_down(large) {
    padding: 4px 8px;
  }
  p {
    font-size: 18px;
    @include breack_down(large) {
      font-size: 12px;
    }
  }
  img {
    width: 20px;
    height: 20px;
    @include breack_down(large) {
      width: 12px;
      height: 12px;
    }
  }
}
.nav_btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  button {
    display: flex;
    align-items: center;
    background-color: #15b79e;
    border-radius: 40px;
    color: #fff;
    border: none;
    padding: 8px 16px;
    gap: 5px;
    @include breack_down(large) {
      padding: 4px 8px;
    }
    img {
      @include breack_down(large) {
        width: 12px;
        height: 12px;
      }
    }
  }
  .nav_dots {
    @include breack_down(large) {
      display: none;
    }
  }
}
.ham_cons {
  @include breack_up(medium) {
    display: none !important;
  }
  img {
    width: 2rem;
    height: 2rem;
    transition: 0.5s;
    filter: invert(59%) sepia(83%) saturate(2089%) hue-rotate(128deg)
      brightness(92%) contrast(84%);
  }
  .w_0 {
    width: 0 !important;
  }
}

.nav_links_hamburger {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 10px;
  width: 70vw;
  left: 50%;
  translate: -50% -120vh;
  justify-content: center;
  margin: auto 0;
  background-color: #181919;
  z-index: 11;
  transition: 0.5s;
  @include breack_up(medium) {
    display: none !important;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .active_nav {
    color: #ee4723;
  }
}

.nav_ham_back {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #101010ee;
  z-index: 10;
  display: none;
  @include breack_up(medium) {
    display: none !important;
  }
}
.ham_nav_cont {
  translate: -50% 20rem !important;
}
.ham_nav_back {
  display: block;
}
